﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SmartHouse</title>
    <base href="https://localhost:44395" />
    <link href="_framework/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_framework/css/site.css" rel="stylesheet" />
</head>

<body>
    <app><img src="_framework/images/loading.png" class="loadingGifStart" /></app>



    <div id="blazor-error-ui" hidden>
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <script src="_framework/blazor.webassembly.js"></script>


    <img src="_framework/images/loading.png" id="loadingGif" class="loadingGif" />
    <script>
        function SetLoading(loading) {
            var loadingElement = document.getElementById("loadingGif");
            if (loading == "true") loadingElement.style.display = "block";
            else loadingElement.style.display = "none";
        }
    </script>


</body>

</html>
